TELEGRAM_BOT_TOKEN=123456789:your_bot_token_here

TELEGRAM_LOG_GROUP_ID=-1001234567890
TELEGRAM_TOPIC_START_ID=
TELEGRAM_TOPIC_SUPPORT_ID=
TELEGRAM_TOPIC_UNANSWERED_ID=194
TELEGRAM_TOPIC_ORDERS_ID=
TELEGRAM_TOPIC_ERROR_ID=
REQUIRED_CHANNEL_1_USERNAME=@dioranalitika
REQUIRED_CHANNEL_1_URL=https://t.me/dioranalitika
REQUIRED_CHANNEL_1_LABEL=♻️ 1-KANAL
REQUIRED_CHANNEL_2_USERNAME=
REQUIRED_CHANNEL_2_URL=
REQUIRED_CHANNEL_2_LABEL=♻️ 2-KANAL
REQUIRED_CHANNEL_3_USERNAME=
REQUIRED_CHANNEL_3_URL=
REQUIRED_CHANNEL_3_LABEL=♻️ 3-KANAL
REQUIRED_CHANNEL_4_USERNAME=
REQUIRED_CHANNEL_4_URL=
REQUIRED_CHANNEL_4_LABEL=♻️ 4-KANAL
